<div class="row">

  <!-- LEFT -->
  <div class="col-md-8">

    <div class="admin-card">
      <div class="row">

        <div class="col-md-6">
          <div class="form-group">
            <label>Nama Produk</label>
            <input class="input" name="name" value="<%= item?.name || '' %>" required>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>Slug</label>
            <input class="input" name="slug" value="<%= item?.slug || '' %>">
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>Kategori</label>
            <input class="input" name="category" value="<%= item?.category || '' %>" required>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>Brand</label>
            <input class="input" name="brand" value="<%= item?.brand || '' %>">
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label>Status</label>
            <select class="input" name="status">
              <option value="ready">ready</option>
              <option value="sold_out">sold_out</option>
            </select>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label>Harga</label>
            <input class="input" type="number" name="price">
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label>Harga Coret</label>
            <input class="input" type="number" name="compareAtPrice">
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>Material</label>
            <input class="input" name="material">
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>Fit</label>
            <input class="input" name="fit">
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <label>Link Affiliate</label>
            <input class="input" name="affiliateLink">
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <label>Gambar</label>
            <input class="input" name="image">
          </div>
        </div>

      </div>
    </div>

  </div>

  <!-- RIGHT -->
  <div class="col-md-4">
    <div class="admin-card">

      <h4>Visibility</h4>

      <div class="admin-check-grid">
        <label class="admin-check">
          <input type="checkbox" name="featured"> Featured
        </label>

        <label class="admin-check">
          <input type="checkbox" name="recommended"> Recommended
        </label>

        <label class="admin-check">
          <input type="checkbox" name="visible" checked> Visible
        </label>
      </div>

      <hr>

      <label>Preview</label>
      <img class="admin-thumb-preview" id="adminImagePreview">

    </div>
  </div>

</div>
